{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Class</title>
    <link rel="stylesheet" type="text/css" href="{% static 'schoolsystem/styles.css' %}">

    <!-- reactjs libs -->
    <script defer type="text/javascript" src="{% static 'schoolsystem/vendors/reactjs/react.development.js' %}"></script>
    <script defer type="text/javascript" src="{% static 'schoolsystem/vendors/reactjs/react-dom.development.js' %}"></script>

    <!-- mdl libs -->
    <link rel="stylesheet" href="{% static 'schoolsystem/vendors/mdl/material.css' %}">
    <script defer type="text/javascript" src="{% static 'schoolsystem/vendors/mdl/material.js' %}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- getmdl libs-->
    <link rel="stylesheet" href="{% static 'schoolsystem/vendors/getmdl-select/getmdl-select.min.css' %}">
    <script defer type="text/javascript" src="{% static 'schoolsystem/vendors/getmdl-select/getmdl-select.min.js' %}"></script>

    <!-- user defined libs-->
    <script defer type="text/javascript" src="{% static 'schoolsystem/js/components/header.component.js' %}"></script>
    <script defer type="text/javascript" src="{% static 'schoolsystem/js/utils.js' %}"></script>

    <link rel="stylesheet" href="{% static 'schoolsystem/styles.css' %}">
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <div id="header-component" class="header-component">
        <!-- header component -->
      </div>

      <main class="mdl-layout__content">
        <div class="page-content">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--2-col">

            </div>
            <div class="mdl-cell mdl-cell--4-col">
              <div class="class-list-container">
                <h4>List of classes</h4>
                <table id="class-list" class="class-list mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                  <thead>
                    <th class="mdl-data-table__cell--non-numeric">Name</th>
                    <th>Capacity</th>
                  </thead>
                  <tbody>

                  </tbody>
                </table>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--1-col">

            </div>
            <div class="mdl-cell mdl-cell--4-col">
              <div class="class-create-container">
                <div class="class-create-title">
                  <h2>Add a class</h2>
                </div>
                <div class="class-create-content mdl-shadow--2dp">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input id="class-name" type="text" class="mdl-textfield__input">
                    <label for="class-name" class="mdl-textfield__label">Name...</label>
                  </div>
                  <br>
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input id="class-max-capacity" type="number" class="mdl-textfield__input">
                    <label for="class-max-capacity" class="mdl-textfield__label">Capacity...</label>
                  </div>
                  <br>
                  <div class="class-teacher-container">
                    <h6>Teachers</h6>
                    <div class="class-teacher-radio-container">
                      {% for teacher in context.teachers %}
                       <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="class-teacher_{{ teacher.id }}">
                          <input type="radio" id="class-teacher_{{ teacher.id }}" class="mdl-radio__button class-teacher-radio" name="class-teacher" value="{{ teacher.id }}">
                          <span class="mdl-radio__label">{{ teacher.first_name }}</span>
                       </label>
                       <br>
                     {% endfor %}
                    </div>
                  </div>
                  <div class="class-subject-container">
                    <h6>Subjects</h6>
                    <div class="class-subject-radio-container">
                      {% for subject in context.subjects %}
                     <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="class-subject_{{ subject.id }}">
                        <input type="radio" id="class-subject_{{ subject.id }}" class="class-subject-radio mdl-radio__button" name="class-subject" value="{{ subject.id }}">
                        <span class="mdl-radio__label">{{ subject.name }}</span>
                     </label>
                     <br>
                     {% endfor %}
                    </div>
                  </div>
                  <br>
                  <button id="class-oncreate" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="button" name="button">Create</button>
                </div>
              </div>

              <div class="details-container">
                <h5>Students in the class</h5>
                <div id="student-class-container" class="student-class-container">

                </div>
                <h5>Number of students</h5>
                <div id="num-student-container" class="student-class-container">

                </div>
                <button id="class-ondelete" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="button" name="button">Delete</button>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--1-col">

            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
  <script defer type="text/javascript" src="{% static 'schoolsystem/js/class.js' %}"></script>
</html>
