{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Course</title>

    <!-- reactjs libs -->
    <script defer type="text/javascript" src="{% static 'schoolsystem/vendors/reactjs/react.development.js' %}"></script>
    <script defer type="text/javascript" src="{% static 'schoolsystem/vendors/reactjs/react-dom.development.js' %}"></script>

    <!-- mdl libs -->
    <link rel="stylesheet" href="{% static 'schoolsystem/vendors/mdl/material.css' %}">
    <script defer type="text/javascript" src="{% static 'schoolsystem/vendors/mdl/material.js' %}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- getmdl libs-->
    <link rel="stylesheet" href="{% static 'schoolsystem/vendors/getmdl-select/getmdl-select.min.css' %}">
    <script defer type="text/javascript" src="{% static 'schoolsystem/vendors/getmdl-select/getmdl-select.min.js' %}"></script>

    <!-- user defined libs-->
    <script defer type="text/javascript" src="{% static 'schoolsystem/js/utils.js' %}"></script>
    <script defer type="text/javascript" src="{% static 'schoolsystem/js/components/header.component.js' %}"></script>

    <link rel="stylesheet" href="{% static 'schoolsystem/styles.css' %}">
  </head>
  <body>

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <div id="header-component" class="header-component">
        <!-- header component -->
      </div>

      <main class="mdl-layout__content">
        <div class="page-content">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--2-col">

            </div>
            <div class="mdl-cell mdl-cell--4-col">
              <div class="course-list-container">
                <h4>List of courses</h4>
                <table id="course-list" class="course-list mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                  <thead>
                    <tr>
                      <th class="mdl-data-table__cell--non-numeric">Name</th>
                      <th class="mdl-data-table__cell--non-numeric">Code</th>
                    </tr>
                  </thead>
                  <tbody>

                  </tbody>
                </table>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--1-col">

            </div>
            <div class="mdl-cell mdl-cell--4-col">
              <div class="course-create-container">
                <div class="course-create-title">
                  <h4>Create course</h4>
                </div>
                <div class="course-create-content mdl-shadow--2dp">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input id="course-name" class="mdl-textfield__input" type="text">
                    <label for="course-name" class="mdl-textfield__label">Name...</label>
                  </div>
                  <br>
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input id="course-code" class="mdl-textfield__input" type="text">
                    <label for="course-code" class="mdl-textfield__label">Code...</label>
                  </div>
                  <br>
                  <div class="course-subject-checkbox-container">
                    {% for subject in context.subjects %}
                    <label for="subject_{{ subject.id }}" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                      <input id="subject_{{ subject.id }}" class="course-subject-checkbox mdl-checkbox__input" type="checkbox" value="{{ subject.id }}">
                      <span class="mdl-checkbox__label">{{ subject.name }}</span>
                    </label>
                    {% endfor %}
                  </div>
                  <br>
                  <button id="course-oncreate" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="button" name="button">Create</button>
                </div>
              </div>

              <div class="details-container">
                <h5>Number of students</h5>
                <div id="num-student-container" class="num-student-container">

                </div>
                <h5>Number of teachers</h5>
                <div id="num-teacher-container" class="num-teacher-container">

                </div>
                <button id="course-ondelete" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="button" name="button">Delete</button>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--1-col">

            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
  <script defer type="text/javascript" src="{% static 'schoolsystem/js/course.js' %}"></script>
</html>
