{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Student</title>
    <link rel="stylesheet" type="text/css" href="{% static 'schoolsystem/styles.css' %}">

    <!-- reactjs libs -->
    <script defer type="text/javascript" src="{% static 'schoolsystem/vendors/reactjs/react.development.js' %}"></script>
    <script defer type="text/javascript" src="{% static 'schoolsystem/vendors/reactjs/react-dom.development.js' %}"></script>

    <!-- mdl libs -->
    <link rel="stylesheet" href="{% static 'schoolsystem/vendors/mdl/material.css' %}">
    <script defer type="text/javascript" src="{% static 'schoolsystem/vendors/mdl/material.js' %}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- getmdl libs-->
    <link rel="stylesheet" href="{% static 'schoolsystem/vendors/getmdl-select/getmdl-select.min.css' %}">
    <script defer type="text/javascript" src="{% static 'schoolsystem/vendors/getmdl-select/getmdl-select.min.js' %}"></script>

    <!-- user defined libs-->
    <script defer type="text/javascript" src="{% static 'schoolsystem/js/components/header.component.js' %}"></script>
    <script defer type="text/javascript" src="{% static 'schoolsystem/js/utils.js' %}"></script>

    <link rel="stylesheet" href="{% static 'schoolsystem/styles.css' %}">
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <div id="header-component" class="header-component">
        <!-- header component -->
      </div>
      <main class="mdl-layout__content">
        <div class="page-content">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--2-col">

            </div>
            <div class="mdl-cell mdl-cell--4-col">
              <div class="student-list-container">
                <h4>List of students</h4>
                <table id="student-list" class="student-list mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                  <thead>
                    <th class="mdl-data-table__cell--non-numeric">Firstname</th>
                    <th class="mdl-data-table__cell--non-numeric">Lastname</th>
                    <th>Year level</th>
                  </thead>
                  <tbody>

                  </tbody>
                </table>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--1-col">

            </div>
            <div class="mdl-cell mdl-cell--4-col">
              <div class="student-create-container">
                <div class="student-create-title">
                  <h4>Create student</h4>
                </div>
                <div class="student-create-content mdl-shadow--2dp">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input id="student-firstname" class="mdl-textfield__input" type="text">
                    <label for="student-firstname" class="mdl-textfield__label">Firstname...</label>
                  </div>
                  <br>
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input id="student-lastname" class="mdl-textfield__input" type="text">
                    <label for="student-lastname" class="mdl-textfield__label">Lastname...</label>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
                      <input type="text" value="" class="mdl-textfield__input" id="student-year-level" readonly>
                      <input type="hidden" value="" name="subject-year-level" id="student-year-level-hidden">
                      <label for="student-year-level" class="mdl-textfield__label">Year level</label>
                      <ul id="year-level-select" for="student-year-level" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                          {% for year in context.YEAR_LEVEL %}
                            <li class="mdl-menu__item" data-val="{{ year.0 }}">{{ year.1 }}</li>
                          {% endfor %}
                      </ul>
                  </div>

                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
                      <input id="student-course" type="text" class="mdl-textfield__input"  readonly>
                      <input id="student-course-hidden" type="hidden" name="student-course">
                      <label for="student-course" class="mdl-textfield__label">Course</label>
                      <ul id="course-select" for="student-course" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                          {% for course in context.courses %}
                            <li class="mdl-menu__item" data-val="{{ course.id }}">{{ course.name }}</li>
                          {% endfor %}
                      </ul>
                  </div>

                  <div class="student-class-container">
                    <h6>Classes</h6>
                    <div class="student-class-checkbox-container">
                      {% for class in context.classes %}
                      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="student-class_{{ class.id }}">
                         <input type="checkbox" id="student-class_{{ class.id }}" class="mdl-checkbox__input student-class-checkbox" name="student-class" value="{{ class.id }}">
                         <span class="mdl-checkbox__label">{{ class.name }}</span>
                      </label>
                      <br>
                      {% endfor%}
                    </div>
                  </div>
                  <br>
                  <button id="student-oncreate" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="button" name="button">Create</button>
                </div>

              </div>


              <div class="details-container">
                <h5>Classes enrolled</h5>
                <div id="class-enrolled-container" class="class-enrolled-container">

                </div>
                <h5>Subjects required</h5>
                <div id="subject-required-container" class="subjects-required-container">

                </div>
                <h5>Teachers</h5>
                <div id="teacher-student-container" class="teacher-student-container">

                </div>
                <button id="student-ondelete" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="button" name="button">Delete</button>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--1-col">

            </div>
          </div>
        </div>
      </main>
    </div>


  </body>
  <!-- -->

  <script defer type="text/javascript" src="{% static 'schoolsystem/js/student.js' %}"></script>
</html>
