{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Subjects</title>

    <!-- reactjs libs -->
    <script defer type="text/javascript" src="{% static 'schoolsystem/vendors/reactjs/react.development.js' %}"></script>
    <script defer type="text/javascript" src="{% static 'schoolsystem/vendors/reactjs/react-dom.development.js' %}"></script>

    <!-- mdl libs -->
    <link rel="stylesheet" href="{% static 'schoolsystem/vendors/mdl/material.css' %}">
    <script defer type="text/javascript" src="{% static 'schoolsystem/vendors/mdl/material.js' %}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- getmdl libs-->
    <link rel="stylesheet" href="{% static 'schoolsystem/vendors/getmdl-select/getmdl-select.min.css' %}">
    <script defer type="text/javascript" src="{% static 'schoolsystem/vendors/getmdl-select/getmdl-select.min.js' %}"></script>

    <!-- user defined libs-->
    <script defer type="text/javascript" src="{% static 'schoolsystem/js/components/header.component.js' %}"></script>

    <link rel="stylesheet" href="{% static 'schoolsystem/styles.css' %}">
  </head>

  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <div id="header-component" class="">
        <!-- reactjs header component -->
      </div>

      <main class="mdl-layout__content">
        <div class="page-content">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--2-col">

            </div>
            <div class="mdl-cell mdl-cell--4-col ">
              <div class="subject-list-container">
                <h4>List of Subjects</h4>
                <table id="subject-list"
                  class="subject-list mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                  <thead>
                    <tr>
                      <th class="mdl-data-table__cell--non-numeric">Name</th>
                      <th class="mdl-data-table__cell--non-numeric">Code</th>
                      <th>Year level</th>
                    </tr>
                  </thead>
                  <tbody>

                  </tbody>
                </table>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--1-col">
            </div>
            <div class="mdl-cell mdl-cell--4-col">
              <div class="subject-create-container">
                <div class="subject-create-title">
                  <h4 class="">Add subject</h4>
                </div>
                <div class="mdl-shadow--2dp subject-create-content">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input id="subject-name" class="mdl-textfield__input" type="text">
                    <label for="subject-name" class="mdl-textfield__label">Name...</label>
                  </div>
                  <br>
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input id="subject-code" class="mdl-textfield__input" type="text">
                    <label for="subject-code" class="mdl-textfield__label">Code...</label>
                  </div>
                  <br>
                  <!-- Select with floating label -->
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
                      <input type="text" value="" class="mdl-textfield__input" id="subject-year-level" readonly>
                      <input type="hidden" value="" name="subject-year-level" id="subject-year-level-hidden">
                      <label for="subject-year-level" class="mdl-textfield__label">Year level</label>
                      <ul for="subject-year-level" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                          {% for year in context.YEAR_LEVEL %}
                            <li class="mdl-menu__item" data-val="{{ year.0 }}">{{ year.1 }}</li>
                          {% endfor %}
                      </ul>
                  </div>
                  <br>
                  <button id="subject-oncreate" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                    Create
                  </button>
                </div>
              </div>

              <div class="details-container">
                <h5>Teachers</h5>
                <div id="teacher-subject-container" class="teacher-subject-container">

                </div>
                <h5>Required by course</h5>
                <div id="required-by-course-container" class="required-by-course-container">

                </div>

                <button id="subject-ondelete" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="button" name="button">Delete</button>

                <div class="subject-edit-container">
                  <div class="subject-edit-title">
                    <h4 class="">Edit subject</h4>
                  </div>
                  <div class="mdl-shadow--2dp subject-edit-content">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input id="subject-name-edit" class="mdl-textfield__input" type="text">
                      <label for="subject-name-edit" class="mdl-textfield__label">Name...</label>
                    </div>
                    <br>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input id="subject-code-edit" class="mdl-textfield__input" type="text">
                      <label for="subject-code-edit" class="mdl-textfield__label">Code...</label>
                    </div>
                    <br>
                    <!-- Select with floating label -->
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
                        <input type="text" value="" class="mdl-textfield__input" id="subject-year-level-edit" readonly>
                        <input type="hidden" value="" name="subject-year-level" id="subject-year-level-edit-hidden">
                        <label for="subject-year-level-edit" class="mdl-textfield__label">Year level</label>
                        <ul id="year-level-select-edit" for="subject-year-level-edit" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                            {% for year in context.YEAR_LEVEL %}
                              <li class="mdl-menu__item" data-val="{{ year.0 }}">{{ year.1 }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <br>
                    <button id="subject-onedit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                      Edit
                    </button>
                  </div>
                </div>
              </div>


            </div>
            <div class="mdl-cell mdl-cell--1-col">
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
  <script defer type="text/javascript" src="{% static 'schoolsystem/js/subject.js' %}"></script>
</html>
