{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Teacher</title>
  </head>

  <!-- reactjs libs -->
  <script defer type="text/javascript" src="{% static 'schoolsystem/vendors/reactjs/react.development.js' %}"></script>
  <script defer type="text/javascript" src="{% static 'schoolsystem/vendors/reactjs/react-dom.development.js' %}"></script>

  <!-- mdl libs -->
  <link rel="stylesheet" href="{% static 'schoolsystem/vendors/mdl/material.css' %}">
  <script defer type="text/javascript" src="{% static 'schoolsystem/vendors/mdl/material.js' %}"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <!-- getmdl libs-->
  <link rel="stylesheet" href="{% static 'schoolsystem/vendors/getmdl-select/getmdl-select.min.css' %}">
  <script defer type="text/javascript" src="{% static 'schoolsystem/vendors/getmdl-select/getmdl-select.min.js' %}"></script>

  <!-- user defined libs-->
  <script defer type="text/javascript" src="{% static 'schoolsystem/js/components/header.component.js' %}"></script>
  <script defer type="text/javascript" src="{% static 'schoolsystem/js/utils.js' %}"></script>

  <link rel="stylesheet" href="{% static 'schoolsystem/styles.css' %}">
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <div id="header-component" class="header-component">
        <!-- header component -->
      </div>

      <main class="mdl-layout__content">
        <div class="page-content">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--2-col">

            </div>
            <div class="mdl-cell mdl-cell--4-col">
              <h4>List of Teachers</h4>
              <div class="teacher-list-container">
                <table id="teacher-list" class="mdl-data-table mdl-js-data table mdl-shadow--2dp teacher-list">
                  <thead>
                    <tr>
                      <th class="mdl-data-table__cell--non-numeric">Firstname</th>
                      <th class="mdl-data-table__cell--non-numeric">Lastname</th>
                    </tr>
                  </thead>
                  <tbody>

                  </tbody>
                </table>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--1-col">

            </div>
            <div class="mdl-cell mdl-cell--4-col">
              <div class="teacher-create-container">
                <div class="teacher-create-title">
                  <h4>Create teacher</h4>
                </div>
                <div class="teacher-create-content mdl-shadow--2dp">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input id="teacher-firstname" class="mdl-textfield__input" type="text">
                    <label for="teacher-firstname" class="mdl-textfield__label">Firstname..</label>
                  </div>
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input id="teacher-lastname" class="mdl-textfield__input" type="text">
                    <label for="teacher-lastname" class="mdl-textfield__label">Lastname...</label>
                  </div>
                  <br>

                  <div class="teacher-subject-container">
                    <h6>Subjects</h6>
                    <div class="teacher-subject-checkbox-container">
                      {% for subject in context.subjects %}
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="teacher-subject_{{ subject.id }}">
                           <input type="checkbox" id="teacher-subject_{{ subject.id }}" class="mdl-checkbox__input teacher-subject-checkbox" name="teacher-subject" value="{{ subject.id }}">
                           <span class="mdl-checkbox__label">{{ subject.name }}</span>
                        </label>
                        <br>
                      {% endfor %}
                    </div>
                  </div>
                  <br>
                  <button id="teacher-oncreate" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="button" name="button">Create</button>
                </div>
              </div>
              <div class="details-container">
                
                <button id="teacher-ondelete" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="button" name="button">Delete</button>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--1-col">

            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
  <script defer type="text/javascript" src="{% static 'schoolsystem/js/teacher.js' %}"></script>
</html>
