/* table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
} */

.subject-create-container, .course-create-container,
  .class-create-container, .teacher-create-container,
  .student-create-container.subject-edit-container {
  width: 100%;
}

.subject-list-container, .course-list-container,
  .class-list-container, .teacher-list-container,
  .student-list-container {
  width: 100%;
}

.subject-list, .course-list,
  .class-list, .teacher-list,
  .student-list {
  width: 100%;
}

.subject-create-content, .course-create-content,
  .class-create-content, .teacher-create-content,
  .student-create-content {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.course-subject-checkbox-container, .class-teacher-radio-container, .class-subject-radio-container,
  .teacher-subject-checkbox-container, .student-class-checkbox-container {
  height: 200px;
  overflow: scroll;
}
